.products-container{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter{
  margin-bottom: 50px;
  width: 15%;
  height: 3vh;
  border-radius: 4px;
}

.filter-value{
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-value > p{
  margin-left: 5px;
  margin-right: 30px;
}

.title{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  text-align: center;
}

.title > h1{
  width: 12%;
  font-size: 24px;
}

.products{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  text-align: center;
}

.products > p{
  width: 12%;
}

.products > button{
  width: 12%;
}